*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forgot-wrapper{
    width: 100%;
    // background-color: red;
    margin-top: 100px;
    .forgot-container{
        width: 100%;
        margin: 0 auto;
        max-width: 1440px;
        .forgot-content{
            width: 100%;
            display: flex;
            align-items: center;
            height: 500px;
            .forgot-right{
                background-color: white;
                padding: 6rem;
            }
            .forgot-left{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: whitesmoke;
                padding: 10rem;
                gap: 2rem;
                border-top-right-radius: 6px;
                border-bottom-right-radius:6px;
                .forgot-input{
                    display: flex;
                    flex-direction: column;
                    gap:1rem;
                }
                
            }
        }
    }
}